<div class="text-center container mt-5">
  <%= form_with url: converted_path, local: false, id: "exchange-form" do |f| %>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-6"><%= f.country_select "base", [], {:prompt => "Base Currency Country", selected: "US"}, class: "form-control me-2"%></div>
          <div class="col-6"><%= f.country_select "target", [], {:prompt=> "Target Currency Country", selected: "IN"}, class: "form-control me-2"%></div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col">
            <%= f.number_field "amount", class:"form-control"%>
          </div>
        </div>
        <div class="row mt-5 mb-5">
          <div class="col">
            <%= f.submit "Convert", class:"btn btn-primary"%>
          </div>
        </div>
      </div>
      <div class="col">
        <div id="conversion-result">
          <%= render 'fetch_exchange', result: @result%>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="time-series">
  <%= render 'line_chart', result: @result %>
</div>
<script></script>
